<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>I heard you forgot your password.</h1>
    <p>
      That's okay. Your old password was too predictable anyway.<br/>
    </p>
    <p>
      To change your password: <%= url_for(host: "localhost:3000", controller: "user", action: "edit") %>.
    </p>
    <p>So long, compadre.</p>
  </body>
</html>